.navbar__mobile-btn{
    opacity: 0;
    visibility: hidden;
}
@media (min-width:1199px) and (max-width: 1400px) {
    .banner__title{
        font-size: 10rem;
    }
    .reviews__grid,
    .clients__container,
    .news__container,
    .footer__container{
        max-width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .projects__all{
        gap: 3rem;
    }
}

@media (max-width:1200px){
    .layout{
        min-width: 992px;
    }
    .nav__item{
        margin: 0 1.5rem;
    }
    .banner__title{
        font-size: 7rem;
    }
    .layout__services{
        margin: 10rem 7rem;
        margin-bottom: 0;
    }
    .reviews__grid,
    .clients__container,
    .news__container,
    .footer__container{
        max-width: 96rem;
    }
    .services__service{
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 4rem 3rem;
    }
    .service__contianer-img{
        max-width: 6rem;
    }
    .services__list{
        flex-direction: column;
    }
    .projects__all{
        gap: 3rem;
    }
    .layout__stats, .layout__clients{
        padding: 10rem 7rem;
    }
    .clients__title{
        width: 70%;
    }
    .clients__description{
        width: 60%;
    }
    .layout__news{
        padding: 10rem 0;
    }
    .news__list{
        flex-direction: column;
    }
    .news__new:last-child{
        border-left: none;
        padding-left: 0;
    }
    .layout__contact{
        padding-top: 10rem;
        padding-bottom: 7rem;
    }
    .shapes__item--shape1 {
        width: 50%;
    }
    .shapes__item--shape2 {
      width: 50%;
    }
    .shapes__item--shape7 {
        width: 25%;
        right: 35%;
    }
    .layout__banner{
        min-height: 40rem;
    }
    .reviews__continaer{
        flex-direction: column;
    }
    .reviews__riview{
        width: 90%;
        border: 1px solid var(--color-borders);
        border-radius: 30px;
        padding: 1.5rem 3rem ;
    }
}

@media (max-width:1000px){
    .layout{
        min-width: auto;
    }
    .navbar__nav{
        display: none;
    }
    .navbar__movile-btn{
        display: block;
    }
    .navbar__mobile-btn{
        opacity: 1;
        visibility: visible;
    }
    .menu__navbar{
        padding: 1.5rem 5rem;
    }
    .layout__banner{
        min-height: 100%;
        margin: 0 3rem;
    }
    .banner__title{
        font-size: 5.5rem;
    }
    .banner__btn{
        padding: 2rem 3.5rem;
    }
    .shapes__item--shape1 {
        width: 45%;
    }
    .shapes__item--shape2 {
      width: 45%;
    }
    .shapes__item--shape7 {
        width: 20%;
        right: 38%;
    }
    .reviews__grid,
    .clients__container,
    .news__container,
    .footer__container{
        max-width: 72rem;
    }
    .layout__services {
        margin: 8rem 7rem;
    }
    .services__subtitle,
    .projects__subtitle,
    .stats__subtitle,
    .reviews__subtitle,
    .clients__subtitle,
    .news__subtitle,
    .contact__subtitle{
        font-size: 1.8rem;
    }

    .services__title,
    .projects__title,
    .stats__title,
    .reviews__title,
    .clients__title,
    .news__title,
    .contact__title{
        font-size: 5rem;
    }

    .service-shapes--shapes1 {
        top: 12rem;
        right: 8.2rem;
    }
    .service-shapes--shapes2{
        display: none;
    }
    .service-shapes--shapes3 {
        top: 47%;
        left: 27rem;
    }
    .layout__projects{
        padding: 8rem 4rem;
    }
    .projects__all {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projects__project{
        width: 75%;
    }
    .project-shapes--shapes2{
        display: none;
    }
    .layout__stats, .layout__clients{
        padding: 8rem 5rem;
    }
    .stats__description, .clients__description{
        font-size: 1.6rem;
        width: 100%;
    }
    .stats__progress{
        flex-wrap: wrap;
    }
    .stats__stat{
        width: calc(50% - 6rem);
    }
    .reviews__description,
    .news__description{
        font-size: 1.7rem;
        width: 100%;
    }
    .clients__title{
        width: 100%;
        font-size: 5rem;
    }
    .clients__logo{
        flex-wrap: wrap;
    }
    .clients__item{
        width: calc(50% - 3rem);
    }
    .news__new--shapes1 {
        top: 7rem;
        left: 11.5rem;
    }
    .news__new--shapes4 {
        display: none;
    }
    .layout__contact{
        padding-top: 8rem;
        padding-bottom: 4rem;
    }
    .layout__contact::before{
        height: 60rem;
    }
    .contact__title{
        width: 100%;
    }
    .contact__btn{
        padding: 2rem 3.5rem;
    }
    .contact__img{
        width: 80%;
    }
    .contact__thumb--chat{
        margin-right: -21rem;
        width: 70%;
    }
    .contact__thumb--laptop{
        left: 0;
        bottom: 0;
    }
    .contact__thumb--mobile{
        right: -6rem;
    }
    .social__link{
        font-size: 2rem;
    }
    .footer__main{
        flex-direction: column;
    }
    .footer__fletf{
        width: 100%;

    }
    .fleft__container{
        border: none;
        margin-left: 1rem;
    }
    .footer__fright{
        width: 100%;
    }
    .footer__bottom{
        flex-direction: column;
    }
    .footer__copyright{
        flex-basis: auto;
        text-align: center;
        display: block;
        margin-bottom: 1rem;
    }
    .footer__links{
        flex-basis: auto;
        text-align: center;
    }
    .footer__flinks{
        justify-content: center;
    }
    .flinks__item--separator::after {
        top: 45%;
        left: 52.8%;
    }
    .project__link-title{
        font-size: 2.5rem;
        text-align: center;
    }
    .project__tag{
        font-size: 1.2rem;
    }
}
@media (max-width:770px){
    .layout__banner{
        padding: 8rem 3rem;
    }
    .banner__title{
        font-size: 4rem;
    }
    .banner__content{
        width: 55%;
    }
    .layout__services{
        margin: 4rem 4rem;
        margin-left: 0;
    }
    .reviews__grid,
    .clients__container,
    .news__container,
    .footer__container{
        max-width: 54rem;
    }
    .services__service{
        width: 95%;
    }
    .service-shapes--shapes3 {
        top: 54%;
        left: 44rem
    }
    .project-shapes--shapes1 {
        top: 5%;
        right: 5%;
    }
    .footer__widget {
        flex-basis: 33%;
    }
    .stat__count{
        font-size: 4.4rem;
    }
    .layout__reviews{
        padding-top: 6rem;
        padding-bottom: 3rem;
    }
    .layout__news{
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .new__title{
        font-size: 2rem;
    }
    .new__content{
        text-align: center;
    }
    .new__description{
        font-size: 1.4rem;
    }
    .news__new{
        display: flex;
        flex-direction: column;
    }
    .new__container-img{
        width: 70%;
    }
    .new__img{
        width: 100%;
    }
    .layout__contact{
        padding-top: 6rem;
        padding-bottom: 4rem;
    }
    .layout__contact::before{
        height: 48rem;
    }
    .contact__img{
        width: 100%;
    }
    .contact__thumb{
        width: 25%;
    }
    .contact__thumb--chat{
        margin-right: -10rem;
        width: 50%;
    }
    .contact__thumb--laptop{
        left: 10rem;
        bottom: 0;
    }
    .contact__thumb--mobile{
        right: 5rem;
    }
    .fleft__container{
        padding-right: 0;
        margin-right: 0;
        text-align: center;
    }
    
}

@media (max-width:640px){
    .layout{
        overflow-x: hidden;
    }
    .stats__continaer,
    .contact__container,
    .reviews__grid,
    .clients__container,
    .news__container,
    .footer__container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .categories__item{
        font-size: 1.6rem;
    }
    .project-shapes--shapes1 {
        top: 1%;
    }
    .news__new--shapes1 {
        display: none;
    }
    .reviews__riview{
        width: 85%;
    }
    .fleft__group{
        width: 90%;
    }
    .reviews__shapes__item {
        top: 5rem;
        right: 14%;
    }
    .service-shapes--shapes1 {
        top: 24rem;
        right: -3.8rem;
    }
    .contact__thumb--mobile{
        right: 3rem;
    }
}
@media (max-width:475px){
    .categories__item{
        font-size: 1.2rem;
    }
    .services__list{
        margin-top: -14rem;
    }
    .projects__categories{
        flex-wrap: wrap;
        gap: 3rem;
    }
    .project-shapes--shapes1 {
        top: 17rem;
    }
    .reviews__continaer{
        align-items: center;
    }
    .reviews__riview{
        width: 60%;
    }
    .fleft__title{
        font-size: 4.4rem;
    }
    .fleft__subtitle{
        font-size: 1.3rem;
    }
    .fleft__btn {
        padding: 1rem 1rem;
    }
    .contact__thumb--mobile {
        right: 1rem;
    }
    .contact__thumb--laptop {
        left: 6rem;
    }
    .flinks__title{
        font-size: 1.2rem;
    }
    .fleft__main-icon {
        margin-left: 1rem;
    }
    .widget__link{
        font-size: 1.4rem;
    }
    .copyright__text{
        font-size: 1.2rem;
    }
    .flinks__item--separator::after {
        left: 53.8%;   
    }
    .fleft__from-control {
        padding: 0;
        margin-left: 1rem;
    }
    .layout__contact::before {
        height: 53rem;
    }
    .menu__navbar {
        padding: 1.5rem 3rem;
    }
    .mobile__btn__wrap {
        height: 5rem;
        width: 5rem;
    }
}
@media (max-width:375px){
    .contact__thumb--laptop {
        left: 5rem;
    }
    .contact__thumb--chat {
        margin-right: -7rem;
    }
}
